* {
  margin: 0;
  padding: 0;
}
body {
  color: #333;
}
.section {
  height: 70px;
  position: relative;
  justify-content: center;
  display: flex;
}
.parent {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}
.anh img {
  height: 50px;
  width: 190px;
}
.section2 {
  height: 85px;
  position: relative;
  justify-content: center;
  display: flex;
}
.anh2 {
  font-size: 50px;
  font-weight: normal;
  margin-bottom: 25px;
  font-weight: 500;
  font-family: Helvetica, sans-serif;
}
.anh2 strong {
  color: #00aeef;
  font-weight: 550;
  font-family: Helvetica, sans-serif;
}
.section3 {
  height: 65px;
  position: relative;
  justify-content: center;
  display: flex;
}
.anh3 {
  margin-bottom: 40px;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  text-shadow: 0.7em;
}
.section4 {
  height: 150px;
  position: relative;
  justify-content: center;
  display: flex;
}
.anh4 {
  text-align: center;
}
.anh4 li {
  display: inline;
  margin: 0 12px;
}
.anh4 li a {
  background-color: #2d3032;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  height: 56px;
  line-height: 56px;
  min-width: 170px;
  text-decoration: none;
  transition: 0.3s background-color;
}
